@import "style-font.css";

:root {
  --mainColor: #cca;
}

h1 {
  color: #000;
  background-color: var(--mainColor);
}


/** @define block-name */
.block-name {
    color: red;
}
.block-name__mod-name--val {
    font-size: 20px;
}
/* @end */
